
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

:root{
    --colorFontPrincipal: #FF79C6;
    --colorFontSecundary: #fff;
    --colorFontLigth: #8C8C8C;
    --backgroudColorPrincipal: #282942;
    --backgroudColorSecundary: #282942;
    
}

h1{
    margin-top: 2rem;
    font-size: 4rem;
}
p{
    font-size: 2rem;
}
.menu-with-content{
    background-color: #383A59;
    display: none;
    flex-direction: column;
    right: 0;
    position: absolute;
    
    z-index: 100;
    width: 50rem;
    height: 100vh;
}

.menu-which-content{
    display: block;
}

.menu-organization{
    display: flex;
    justify-content: right;
    width: 100%;
}

.menu-burguer {
    display: block;
    width: 40px;
    height: 30px;
    margin-top: 2rem;
    margin-right: 2rem;
    
}


.one,.two,.three {
    background-color: #fff;
    height: 5px;
    width: 100%;
    margin: 6px auto;

}

.menu-text-list{
    display: flex;
    flex-direction: column;
    height: 100%;
    
    align-items: center;
    text-align: center;
    gap: 3rem;
    
    font-size: 2.5rem;

    
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 7rem;
}

.image{
    width: 52rem;
}


.div-form{
    background-color: #383A59;
    width: 50rem;
    height: 30rem;
    border-radius: 5rem;

}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    gap: 4rem;
}

.button-play, .input-name{
    width: 40rem;
    height: 5rem;
    border-radius: 20px;
    outline: 0;
}

.input-name{
    padding-left: 2rem;
    font-family: 'Poppins';
    font-size: 2rem;
    font-weight: 300;
    color: #8C8C8C;
}

.button-play{
    color: white;
    font-size: 2rem;
    font-family: 'Poppins';
    font-weight: 700;
    background-color: #FF79C6;
}

.pop-up{
    position: absolute;
    margin: auto;
    background-color: var(--backgroudColorSecundary);
    width: 50rem;
    height: 30rem;
    z-index: 120;

    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1300px){
    .image{
        width: 50rem;
    }

    .div-form{
        width: 40rem;
    }
    .input-name, .button-play{
        width: 30rem;
    }
}




@media (max-width: 750px){
    .image{
        width: 35rem;
    }

    main{
        display: flex;
        flex-direction: column;
        
    }

    .div-form{
        width: 40rem;
    }
    .input-name, .button-play{
        width: 30rem;
    }

    body{
        margin: 0px;
    }
}



