@keyframes rightForLeft {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-300px);
    }
}


.menu-with-content{
    background-color: var(--backgroudColorSecundary);
    display: none;
    flex-direction: column;
    right: 0;
    position: absolute;
    
    z-index: 100;
    width: 50rem;
    height: 100%;
    border-radius: 2rem 0rem 0rem 2rem;

}

.menu-which-content{
    display: block;
    cursor: pointer;
}

.menu-organization{
    display: flex;
    justify-content: right;
    width: 100%;
    height: 100%;
}

.menu-burguer {
    display: block;
    width: 40px;
    height: 30px;
    margin-top: 2rem;
    margin-right: 2rem;
    cursor: pointer;
    
}


.one,.two,.three {
    background-color: var(--backgroudColorSextenary);
    height: 5px;
    width: 100%;
    margin: 6px auto;

}

.menu-text-list{
    display: flex;
    flex-direction: column;
    height: 100%;
    
    align-items: center;
    text-align: center;
    gap: 3rem;
    
    font-size: 2.5rem;

    
}


@media (max-width: 750px){
    
    .menu-with-content{
        width: 70%;
    }
}