.input{
    padding: 10px;
}

.inputDefault{
    padding: 20px;
    color: var(--colorFontLigth);
    background-color: var(--backgroudColorQuartenary);
    border: 0px;
    border-radius: 50px;
    width: 20rem;
    height: 3rem;
    font-size: 1.6rem;
}