.buttonPrimary{
    background-color: var(--backgroudColorTerceary);
    color: var(--colorFontSecundary);
    width: 20rem;
    height: 3rem;
    border: 0;
    border-radius: 20px;
    font-size: 1.6rem;
    font-weight: bold;
    transition: transform 0.3s;  
    cursor: pointer;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.247);
}

.buttonPrimary:hover{
    transform: scale(1.05);
}

.card{
    background-color: var();
}